@import url('../../variables.css');

.radio-group__item {
  position: relative;
  display: flex;
  cursor: default;
  border-radius: 0.375rem;
  padding: 1rem 1.5rem;
  box-shadow: 0 4px 6px -1px var(--box-shadow-primary),
    0 2px 4px -1px var(--box-shadow-secondary);
  outline: none;
  background-clip: padding-box;
  border-width: 1px;
  border-style: solid;
}

.radio-group__item.focused {
  outline: none;
  box-shadow: 0 0 0 2px var(--active-selection),
    0 0 0 4px var(--box-shadow-tertiary);
}
.radio-group__detail-name {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--primary-text-color);
}

.radio-group__item.selected {
  background-color: var(--active-selection);
  border-color: var(--overlay-blur-background-color);
  color: var(--active-selection);
}

.radio-group__detail-text {
  display: inline;
  color: var(--secondary-text-color);
}

.radio-group__item.selected .radio-group__detail-name {
  color: var(--white);
}
.radio-group__item.selected .radio-group__detail-text {
  color: var(--light-grey);
}
.radio-group__item.not-selected {
  background-color: var(--white);
  border-color: transparent;
  color: var(--active-selection);
}
.radio-group__item.not-selected:hover {
  background-color: var(--radio-item-inactive-hover);
  cursor: pointer;
}

.radio-group__item.not-selected[data-disabled='true'] {
  opacity: 0.6;
  background-color: var(--background-color-secondary);
  color: var(--disabled-text-color);
  cursor: not-allowed;
}

.radio-group__item.not-selected[data-disabled='true'],
.radio-group__detail-text {
  font-style: italic;
}

.pressed {
  background-color: var(--radio-item-pressed);
}

.inactive {
  background-color: var(--white);
}
