@import url('../variables.css');

.dashboard-page__wrapper {
  width: 100%;
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@media screen and (min-width: 800) {
  .dashboard-page__wrapper {
    width: auto;
    height: 100%;
    flex: 1 0 0;
  }
}

.empty-dashboard__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  gap: 16px;
}
