@import url('./variables.css');

.page__header {
  padding: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.page__header h1 {
  color: var(--white);
  line-height: 1rem;
  font-size: 2rem;
}
